$primary-color: #005778;
$secondary-color: #008cff;

.filmCard {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #ffffff4d;
  min-height: 63vh;

  &__poster {
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    margin-right: 1rem;
  }

  &__info {
    flex: 1;
  }

  &__title {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  &__description {
    font-size: 2rem;
    margin-bottom: 3rem;
    width: 70%;
    text-align: justify;
  }

  &__rating {
    display: inline-block;
    background-color: #f5a623;
    width: 14rem;
    height: 3rem;
    font-size: 2.5rem;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-weight: bold;
    margin-right: 0.5rem;
  }
}
.times {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  &__time {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 5%;

    &:hover {
      background-color: #e5e5e5;
    }
  }

  
}
