$primary-color: #005778;
$secondary-color: #008cff;

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
}

.card__image {
  position: relative;
  height: 300px;
  margin-bottom: 10px;

  img {
    object-fit: cover;
  }
}

.card__content {
  padding: 10px;
  margin-left: 50px;
  width: 90%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
  background: rgba(205, 214, 219, 0);
}

.card__title {
  font-size: 35px;
  font-weight: bold;
  color: $primary-color;
  cursor: pointer;
}

.card__subtitle {
  font-size: 20px;
  line-height: 1.4;
  color: #8a8a8a;
}

.card_rating {
  font-size: 20px;
  color: $secondary-color;
}

.card__buttons {
  display: flex;
  flex-wrap: wrap;
}

.card__button {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card__button:hover {
  background-color: $secondary-color;
}

.card__price{
  position: relative;
  top: 2.5rem;
  right: 3.7rem;
}
