.profile-layout {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 1000px;
  
    .profile-nav {
      background-color: #f2f2f252;
      width: 30%;
      
      padding: 1rem;
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        li {
          cursor: pointer;
          padding: 0.5rem;
          border-radius: 0.5rem;
          height: 100px;
          text-align: center;
          padding-top: 60px;
          font-size: 32px;
  
          &.active {
            background-color: #ddd;
          }
        }
      }
    }
  
    .profile-content {
      width: 70%;
      height: 90%;
      padding: 0;
      margin: 0;
    }
  }
  